# IDEs
.idea/

# R
.Rbuildignore
.RData
.Rhistory
.Rprofile

# Hugo
resources/
public/
.Rproj.user

# blogdown
blogdown/
static/en/
static/fr/
themes/academic/exampleSite/
*.rmarkdown
_index.html
index.html
